UPDATE ConfigTable SET UTCModDate=[TIMESTAMP_UPDATED] WHERE RecID=1;
UPDATE PlaceTable SET Name='Belgrade, Serbia', Reverse='Serbia, Belgrade', fsID=-1184254214, anID=68480, UTCModDate=[TIMESTAMP_UPDATED] WHERE PlaceID=423;
